.navbar{
    background: rgba(240, 237, 237, 0.904);
    height: 12vh;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(71, 71, 71, 0.507) 0px 4px 4px 4px;

}
.logout-button{
    height: 50px;
    width: 50px;
    margin-right: 20px
}
.menu-container{
    display: flex
}
.logout-menu{
    margin: 10px;
    
}
.menu-links{
    text-decoration: none;
    color: #415989;
}
.menu-items{
    padding: 5px;
    margin: 0;
    border-radius: 5px;
    border: 1px black
    
}
.menu-items:hover{
    background-color: white
}