#dashboard{
    width: 80vw;
    margin-top: 20px;
    margin-left: 10vh;
    background: transparent;
    border: none;
    box-shadow: none
    
}
.survey-list{
    margin: 5px;
    height: 120px;
    width: 160px;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: solid #ffffff;
    background: rgba(255, 255, 255, 0.233);
    box-shadow: rgba(71, 71, 71, 0.507) 0px 4px 4px 4px;
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;

    
}.survey-list-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow: auto;
    justify-content: center;
    width: 90%;
    margin: 10px;
    padding: 10px 0;
    

}
.survey-list:hover{
    box-shadow: rgba(71, 71, 71, 0.507) 0px 4px 4px 4px;
    background-color: rgb(241, 239, 239);
    color: #415989;
}
a:hover{
    color: #415989;
}

.link-to-survey{
text-decoration: none;
color: white;
display: flex;
flex-direction: column;
}
.column-headings{
    text-decoration: underline;
    font-weight: bold
}
.delete-button {
	-moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
	-webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
	box-shadow:inset 0px 34px 0px -15px #b54b3a;
	background-color:#a73f2d;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
    padding:5px ;
    margin: 5px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}
.delete-button:hover {
	background-color:#b34332;
}
.delete-button:active {
	position:relative;
	top:1px;
}
#delete-survey{
    display: none;
}
.survey-list:hover #delete-survey{
    display: block;
}
#edit-button{
    font-size: 12px;
    padding: 5px 10px;
}
.no-surveys{
    grid-column: 2/5
}

#my-surveys{
    text-decoration: underline;
    font-size: 40px;
    color: white
}
.create-new-survey {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.create-new-survey:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.create-new-survey:active {
	position:relative;
	top:1px;
}
