.App {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#root{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body{
  background: linear-gradient(-120DEG, #021b79, #0575E6, #205E9B);
  background-size: 100% 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  min-width: 100vw
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.survey-display,
.survey-display-question{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.survey-display-question{
  margin: 20px;
}



.route-container{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}